<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>Basic Elements | Vuesy - Admin & Dashboard Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- Bootstrap Css -->
        <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />

    </head>

    
    <body data-layout="horizontal" data-topbar="dark">

    <!-- <body data-layout="horizontal"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            <div class="hori-overlay"></div>
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="card card-h-100">
                                    <div class="card-header justify-content-between d-flex align-items-center">
                                        <h4 class="card-title">Creer role</h4>
                                    </div><!-- end card header -->
                                    <div class="card-body">
                                        <div>
                                            <form>
                                                <div class="mb-3">
                                                    <label class="form-label" for="formrow-firstname-input">Role</label>
                                                    <input type="text" class="form-control" id="formrow-firstname-input" placeholder="Nom du role">
                                                </div>
                                                                              
                                                <div class="mt-4">
                                                    <button type="submit" class="btn btn-primary w-md">Creer</button>
                                                </div>
                                            </form><!-- end form -->
                                        </div>
                                    </div><!-- end card body -->
                                </div><!-- end card -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="card">
                                <div class="card-header justify-content-between d-flex align-items-center">
                                    <h4 class="card-title">Programme</h4>
                                </div><!-- end card header -->
                                <div class="card-body">
                                    <label class="form-label" for="formrow-firstname-input">Cours</label>
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="floatingSelectGrid"
                                            aria-label="Floating label select example">
                                            <option selected>Ouvrez ce menu de selection</option>
                                            <option value="1">Math</option>
                                                <option value="2">Logique</option>
                                                <option value="3">Statistique</option>
                                                <option value="4">Dessin</option>
                                        </select>
                                        <label for="floatingSelectGrid">--Listes deroulante---</label>
                                    </div>
                                    <label class="form-label" for="formrow-firstname-input">Jour</label>
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="floatingSelectGrid"
                                            aria-label="Floating label select example">
                                            <option selected>Ouvrez ce menu de selection</option>
                                            <option value="1">Lundi</option>
                                                <option value="2">Mardi</option>
                                                <option value="3">Mercredi</option>
                                                <option value="4">Jeudi</option>
                                                <option value="5">Vendredi</option>
                                                <option value="6">Samedi</option>
                                        </select>
                                        <label for="floatingSelectGrid">--Listes deroulante---</label>
                                    </div>
                                    <label class="form-label" for="formrow-firstname-input">Heure</label>
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelect"
                                            aria-label="Floating label select example">
                                            <option selected>Ouvrez ce menu de selection</option>
                                            <option value="1">8h a 12h</option>
                                            <option value="2">13 a 17h</option>
                                        </select>
                                        <label for="floatingSelect">--Listes deroulante---</label>
                                    </div>
                                    <div class="mt-4">
                                        <button type="submit" class="btn btn-primary w-md">Creer</button>
                                    </div>
                                </div><!-- end cardbody -->
                            </div>
                        </div>
                        <!-- end row -->

                    </div> <!-- container-fluid -->
                </div><!-- End Page-content -->

               
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- Right Sidebar -->
        
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

        <!-- JAVASCRIPT -->
        <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/libs/metismenujs/metismenujs.min.js"></script>
        <script src="assets/libs/simplebar/simplebar.min.js"></script>
        <script src="assets/libs/feather-icons/feather.min.js"></script>
        <script src="assets/js/app.js"></script>

    </body>
</html>
